Yeah man, this is my welcome index woooooooooooo hoooooooooo!!!!!!


<div id="calcontainer">
  <div class="week">
    <div class="col-md-1">Sunday</div>
    <div class="col-md-1">Monday</div>
    <div class="col-md-1">Tuesday</div>
    <div class="col-md-1">Wednesday</div>
    <div class="col-md-1">Thursday</div>
    <div class="col-md-1">Friday</div>
    <div class="col-md-1">Saturday</div>
   </div>
  <div class="week">
    <div class="col-md-1">Sunday</div>
    <div class="col-md-1">Monday</div>
    <div class="col-md-1">Tuesday</div>
    <div class="col-md-1">Wednesday</div>
    <div class="col-md-1">Thursday</div>
    <div class="col-md-1">Friday</div>
    <div class="col-md-1">Saturday</div>
   </div>
   <div class="week">
    <div class="col-md-1">Sunday</div>
    <div class="col-md-1">Monday</div>
    <div class="col-md-1">Tuesday</div>
    <div class="col-md-1">Wednesday</div>
    <div class="col-md-1">Thursday</div>
    <div class="col-md-1">Friday</div>
    <div class="col-md-1">Saturday</div>
   </div>
   <div class="week">
    <div class="col-md-1">Sunday</div>
    <div class="col-md-1">Monday</div>
    <div class="col-md-1">Tuesday</div>
    <div class="col-md-1">Wednesday</div>
    <div class="col-md-1">Thursday</div>
    <div class="col-md-1">Friday</div>
    <div class="col-md-1">Saturday</div>
   </div>
</div>