 <div id="indexcontainer"> 
  <h1>List of events</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Name</th>
    <th></th>
  </tr>
  <% @events.each do |event| %>
  
    <tr>
      <td><%= event.date %></td>
      <td><%= event.time %></td>
      <td><%= event.name %></td>
      <td>
        <% if (current_user.is_admin) || (current_user.uevents.include? event) %>
        <%= button_to "X", { action: "destroy", id: event.id}, {method: :delete, data:{confirm:"Are you damned sure???"}, :class => "mybutton"}
      %>
      <% end %>
    </td>
    </tr>
  <% end %>
</table>
</div>