@import 'bootstrap';


$maincolor: white;


body {
	background-color: $maincolor;
	font-family: Helvetica;
	background-image: url('https://c676132.ssl.cf0.rackcdn.com/unicorn-cat-51a66b5c3fbe7.jpg');
}

a:link, a:visited, a:disabled {
	color: black;
}

#container {
	background-color: #eee;
	width: 600px;
	margin: 0 auto;	
}

header {
	position: center;
	font-size: 30px;


}
#indexcontainer {

	margin: 20px;
	background-color: #C8D3DE;

	h1{
		color: black;

	}
	table {
		color: #ff3366;
	}

	th {
		color: black;
	}

	tr {
		color: black;
	}

	.mybutton {
	   border-top: 1px solid #96d1f8;
	   background: #d2d665;
	   background: -webkit-gradient(linear, left top, left bottom, from(#fc0000), to(#d2d665));
	   background: -webkit-linear-gradient(top, #fc0000, #d2d665);
	   background: -moz-linear-gradient(top, #fc0000, #d2d665);
	   background: -ms-linear-gradient(top, #fc0000, #d2d665);
	   background: -o-linear-gradient(top, #fc0000, #d2d665);
	   padding: 5px 10px;
	   -webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	   border-radius: 8px;
	   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   box-shadow: rgba(0,0,0,1) 0 1px 0;
	   text-shadow: rgba(0,0,0,.4) 0 1px 0;
	   color: white;
	   font-size: 13px;
	   font-family: Georgia, serif;
	   text-decoration: none;
	   vertical-align: middle;
	   }
	.mybutton:hover {
	   border-top-color: #28597a;
	   background: #28597a;
	   color: #ccc;
	   }
	.mybutton:active {
	   border-top-color: #1b435e;
	   background: #1b435e;
	   }
}

#newcontainer {
	margin: 15px;
	background-color: orange;


	h1 {
		color: black;
	}

	
}

#calcontainer {
	margin: 0 auto;
	width: 740px;
	background-color: orange;

	.col-md-1 {
		font-family: Helvetica;
		font-size: 12px;
		height: 100px;
		width: 100px;
		border: 1px solid black;
		background-color: #C8D3DE;
		opacity: 9pt;
	}
}



